@import url(./reset.css);

html {
    font-size: 10px;
}

.header {
    height: 48px;
    padding: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list1{
    padding-right: 15px;
}

.nav-btn1 .nav-btn2 {
    padding-left:15px;  
}

a{
    text-decoration: none;
    font-size: 1.3rem;   
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.nav-list2 {
    padding-right: 4px;
    display: flex;
    align-items: center;
}

.nav-btn3 {
    padding: 10px;
    margin-right: 6px;
}

.dots {
    width: 16px;
    height: 16px;
}

.nav-btn4 {
    background-color: #1b72e8;
    padding: 9px 23px;
    margin: 0 8px;
    width: 96px;
    height: 36px;
    border-radius: 5px;
}

.login {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
}
.login:hover{
    text-decoration: none;
}

.main {
    width: 100%;
    height: auto;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.google-logo {
    margin-top: 31px;
    width: 272px;
    height: 92px;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.search-form {
    max-width: 584px;
    height: 44px;
    border: 1px solid #e1e3e7;
    border-radius: 25px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 8px 0 16px;
    font-size: 1.4rem;
}

.search-png {
    width: 20px;
    height: 20px;
    padding: 10px;
}

.input-text {
    width: 447px;
    height: 34px;
    border: none;
}


.search-help {
    display: flex;
    align-items: center;
}

.voice {
    width: 24px;
    height: 24px;
    padding: 0 8px;
}

.section-btns {
    top: 53px;
    padding: 18px 0 0;
}

.section-btn {
    height:  36px;
    background-color: #f8f9fa;
    color: #888b8d;
    text-align: center;
    margin-left: 15px;
    padding: 0 16px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #8b8b8b;
    background-color: #f2f2f2;
    font-size: 1.5rem;
}
.country {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.footer-bar {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 0 20px;
}

.footer-bar-left > a {
    display: inline-block;
    padding: 15px;
    color: #8b8b8b;
    background-color: #f2f2f2;
    font-size: 1.4rem;
}

.footer-bar-right > a {
    display: inline-block;
    padding: 15px;
    color: #8b8b8b;
    background-color: #f2f2f2;
    font-size: 1.4rem;
}